<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title | escape }}</h2>

    <div class="footer-info">
      <ul class="contact-list">
        <li>
          {% if site.author %}
            {{ site.author | escape }}
          {% else %}
            {{ site.title | escape }}
          {% endif %}
          </li>
          {% if site.email %}
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}

          <br>

          <p class="rss-subscribe">Assine o <a href="{{ "/feed.xml" | relative_url }}">feed RSS</a></p>
      </ul>

      <ul class="social-media">
        <li class="media">
            <a class="link" href="https://github.com/dudukling">
              {% include icon-github.svg %}
            </a>
        </li>

        <li class="media">
            <a class="link" href="https://www.linkedin.com/in/eduardo-kling-mesiano-2aab7b113/">
              {% include icon-linkedin.svg %}
            </a>
        </li>

        <li class="media">
            <a class="link" href="https://www.facebook.com/eduardokmesiano">
              {% include icon-facebook.svg %}
            </a>
        </li>

        <li class="media">
            <a class="link" href="https://twitter.com/Eduardo_Kling">
              {% include icon-twitter.svg %}
            </a>
        </li>
      </ul>

      <div class="description">
        <p>{{ site.description | escape }}</p>
      </div>
    </div>

  </div>

</footer>
