---
layout: default
---

<div class="home">

  <h1 class="page-heading">Últimos Posts</h1>
  
  {{ content }}

  <ul class="postList-list">
    {% for post in site.posts %}

      <li>
        {% if post.image %}
        <a href="{{ post.url | relative_url }}"><img src="assets/{{ post.image }}" alt=""></a>
        {% endif %}

        <div class="postList-info-container">
          <a href="{{ post.url | relative_url }}" class="postList-info">
            <span class="postList-link">{{ post.title | escape }}</span>
            
            <span class="postList-meta">{{ post.date | date: "%d/%m/%Y" }} {% if post.time-to-read %} | {{ post.time-to-read }} min {% endif %}</span>

            <span class="postList-excerpt">{{ post.excerpt | strip_html }}</span>
          </a>

          <ul class="postList-categories">
            {% assign categories_list = post.categories %}
            {% for category in categories_list %}
              <li><a class="category" href="category/{{category|slugize}}">{{ category }}</a></li>
            {% endfor %}
          </ul>
        </div>

      </li>

    {% endfor %}
  </ul>
  
</div>
